{% extends "helpdesk/base.html" %}
{% load i18n %}
{% load helpdesk_bootstrap %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}
    <div class="row" id="submit_ticket">
      <div id="public_submit_ticket" class="col-sm-12 col-md-6">
        <h2>Submit a Ticket</h2>

        <p class="text-muted">{% trans "All fields are required. Please provide as descriptive a title and description as possible." %}</p>
        <form role="form" method="post" action='./' enctype='multipart/form-data'>
          {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}     
            {% else %}
              {% if field.errors %}
                <div class="form-group has-error">
              {% else %}
                <div class="form-group">
              {%endif %}
                <label for="{{ field.name }}">
                  {{ field.label}}
                  {% if not field.field_required %}
                    <span class="text-muted small">{% trans "(Optional)" %}</span>
                  {% endif %}
                </label>
                {{ field|class:'form-control' }}
                {% if field.errors %}
                  <span class="help-block">{{ field.errors }}</span>
                {% else %}
                  {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">{% trans 'Submit Ticket' %}</button>
        </form>
      </div>
    </div>
{% endblock %}

