{% load i18n %}
{% load url from future %}

  <div id="footer">
    <div class="container">
      {% if helpdesk_settings.HELPDESK_NAVIGATION_ENABLED and user.is_authenticated or user.is_staff %}
        <div class="col-sm-6">
          <a href="{% url 'helpdesk_rss_index' %}" title='{% trans "RSS Feeds" %}'>
            <i class="fa fa-rss"></i> {% trans "RSS Feeds" %}
          </a>
          {% if helpdesk_settings.HELPDESK_FOOTER_SHOW_API_LINK %}
            <a href='{% url 'helpdesk_api_help' %}'>{% trans "API" %}</a>
          {% endif %}
          | <a href='{% url 'helpdesk_user_settings' %}'>{% trans "User Settings" %}</a>
          {% if helpdesk_settings.HELPDESK_FOOTER_SHOW_CHANGE_LANGUAGE_LINK %}
              | <a href='{% url 'helpdesk_public_change_language' %}?return_to={{ request.path }}'>
              {% trans "Change Language" %}
            </a>
          {% endif %}
          {% if user.is_superuser %}
            | <a href='{% url 'helpdesk_system_settings' %}'>{% trans "System Settings" %}</a>
          {% endif %}
        </div>
        <div class="col-sm-6">
      {% else %}
        <div class="col-sm-offset-6 col-sm-6">
      {% endif %}
          <p class="text-muted text-right">{% include "helpdesk/attribution.html" %}</p>
        </div>
      </div>
  </div>
</div>
