{% extends "helpdesk/public_base.html" %}
{% load i18n %}

{% block helpdesk_body %}
	<h2>{% blocktrans with category.title as kbcat %}Knowledgebase Category: {{ kbcat }}{% endblocktrans %}</h2>

	<p>{% blocktrans with category.title as kbcat %}You are viewing all items in the {{ kbcat }} category.{% endblocktrans %}</p>

	<p>{{ category.description }}</p>
	<div class="row">
  <div id="kb_categories" class="panel panel-default">
    <div class="panel-heading">{% blocktrans with category.title as kbcat %}Knowledgebase Category: {{ kbcat }}{% endblocktrans %}</div>     
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans 'Article' %}</th>
          <th>{% trans 'Rating' %}</th>
          <th>{% trans 'Last Updated' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items%}
          <tr>
            <td><a href='{{ item.get_absolute_url }}'>{{ item.title }}</a></td>
            <td>{{ item.score }}</td>
            <td>{{ item.last_updated|timesince }} {% trans 'ago' %}</td>
          </tr>
          <tr>
          	<td colspan="3">{{ item.question }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 {% endblock %}
