{% load i18n %}
{% load url from future %}
{% load load_helpdesk_settings %}
{% load helpdesk_bootstrap %}

{% with request|load_helpdesk_settings as helpdesk_settings %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
     	{% block helpdesk_title %}
        {{ helpdesk_settings.HELPDESK_PREPEND_ORG_NAME|default:'' }} {% trans "Helpdesk" %}
      {% endblock %}
    </title>

    {% bootstrap_css %}
    {% bootstrap_js %}
    {% fa_css %}

    {% theme_css %}

	  {% block helpdesk_head %}{% endblock %}
	</head>

	<body>
    <div id="wrap">
      {% include "helpdesk/navigation.html" %}

      <div class="container">
  			{% block helpdesk_body %}{% endblock %}
  		</div>
    </div>

    {% include 'helpdesk/footer.html' %}
	  {% include "helpdesk/debug.html" %}

    {% block footer_scripts %}{% endblock %}
	</body>
</html>
{% endwith %}
