{% extends "helpdesk/public_base.html" %}
{% load i18n %}
{% load gravatar %}
{% block helpdesk_title %}
  {% trans "View a Ticket" %}
{% endblock %}

{% block helpdesk_body %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ ticket.ticket }} . {{ ticket.title }} [{{ ticket.get_status }}]</div>     
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td>{% trans 'Queue' %}</td>
              <td>{% blocktrans with ticket.queue as queue_name %}{{ queue_name }}{%endblocktrans %}</td>
            </tr>
            <tr>
              <td>{% trans 'Submitted On' %}</td>
              <td>{{ ticket.created|date:"r" }} ({{ ticket.created|timesince }} ago)</td>
            </tr>
            <tr>
              <td>{% trans 'Submitter E-Mail' %}</td>
              <td>{{ ticket.submitter_email }}</td>
            </tr>
            <tr>
              <td>{% trans 'Priority' %}</td>
              <td>{{ ticket.get_priority_display }}</td>
            </tr>
            {% for customfield in ticket.ticketcustomfieldvalue_set.all %}
              <tr>
                <td>{{ customfield.field.label }}</td>
                <td>{{ customfield.value }}</td>
              </tr>
            {% endfor %}
            {% if tags_enabled %}
              <tr>
                <td>{% trans 'Tags' %}</td>
                <td>{{ ticket.tags }}</td>
              </tr>
            {% endif %}
            <tr>
              <td>{% trans "Description" %}</td>
              <td>{{ ticket.description|force_escape|urlizetrunc:50|linebreaksbr }}</td>
            </tr>
            {% if ticket.resolution %}
              <tr>
                <td>{% trans "Resolution" %}</td>
                <td>{{ ticket.resolution|urlizetrunc:50|linebreaksbr }}
                  {% ifequal ticket.get_status_display 'Resolved' %}
                    <hr>
                    <a href="{{ ticket.ticket_url }}&close">
                      <img src="{{ STATIC_URL }}/helpdesk/buttons/accept.png" alt="{% trans 'Accept' %}" title="{% trans 'Accept and Close' %}" width="60" height="15">
                    </a>
                  {% endifequal %}
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if ticket.followup_set.public_followups %}
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% trans 'Follow-Ups' %}
          </div>
          <ul class="list-group">
            {% load ticket_to_link %}
            {% for followup in ticket.followup_set.public_followups %}
              <li class="list-group-item follow-up">
                {% gravatar followup.user.email 30'class="gravatar"'   %}
                  <div class="content">
                  <h5>
                    {{ followup.title }}
                    {% if followup.user %}
                      by <b>{{ followup.user }}</b>
                    {% endif %} 
                    <span class="text-muted" title='{{ followup.date|date:"r" }}'>
                      {{ followup.date|timesince }} ago
                    </span>                   
                    
                  </h5>
                  <div class="comment">
                    {{ followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr }}
                  </div>
                  {% for attachment in followup.attachment_set.all %}
                    {% if forloop.first %}
                      <ul class="attachments">
                    {% endif %}
                        <li>
                          <a href='{{ attachment.file.url }}'>
                            <i class="fa fa-2x fa-file"></i>
                            {{ attachment.filename }}
                          </a>
                          <span class="text-muted">
                            <br><small>{{ attachment.mime_type }}, {{ attachment.size|filesizeformat }}</small>
                          </span>

                        </li>
                    {% if forloop.last %}
                      </ul>                      
                    {% endif %}
                  {% endfor %}
                  {% if followup.ticketchange_set.all %}
                  <ul class="changes">
                    {% for change in followup.ticketchange_set.all %}
                      <li>
                      <i class="fa fa-arrow-circle-right"></i>
                      {% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}
                        <b>{{ field }}</b> {{ new_value }} <del class="text-muted">{{ old_value }}</del>
                        {% endblocktrans %}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div> 
      </div>
    </div>
  {% endif %}
{% endblock %}

