{% extends "helpdesk/public_base.html" %}
{% load i18n %}
{% load url from future %}
{% load helpdesk_bootstrap %}

{% block helpdesk_body %}
<div id="public_tabs">
  <ul class="nav nav-tabs">
    {% if helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}
      <li class="active"><a href="#view_ticket" data-toggle="tab">{% trans 'View a Ticket' %}</a></li>
    {% endif %}
    {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
      <li><a href="#submit_ticket" data-toggle="tab">{% trans 'Submit a Ticket' %}</a></li>
    {% endif %}
    {% if helpdesk_settings.HELPDESK_SHOW_KB_ON_HOMEPAGE %}
      <li><a href="#knowledgebase" data-toggle="tab">{% trans 'Knowledgebase Articles' %}</a></li>
    {% endif %}
  </ul>
</div>

<div id="public_tabs_content" class="tab-content">
  {% if helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}
    <div class="tab-pane active" id="view_ticket">
      <br>
      <div id="public_view_ticket" class="col-sm-12 col-md-6">
        <form role="form" method="get" action="{% url 'helpdesk_public_view' %}">
          <div class="form-group">
            <label for="ticket">{% trans 'Ticket' %}</label>
            <input class="form-control" type="text" id="ticket" name="ticket" placeholder="{% trans 'Ticket Number' %}">
          </div>
          <div class="form-group">
            <label for="email">{% trans 'E-mail Address' %}</label>
            <input class="form-control" type="text" id="email" name="email" placeholder="{% trans 'Your E-mail Address' %}">
          </div>
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">{% trans 'View Ticket' %}</button>
        </form>
      </div>
    </div>    
  {% endif %}   
  
    {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
    <div class="tab-pane" id="submit_ticket">
      <br>
      <div id="public_submit_ticket" class="col-sm-12 col-md-6">
        <p class="text-muted">{% trans "All fields are required. Please provide as descriptive a title and description as possible." %}</p>
        <form role="form" method="post" action='./#submit_ticket' enctype='multipart/form-data'>
          {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}     
            {% else %}
              {% if field.errors %}
                <div class="form-group has-error">
              {% else %}
                <div class="form-group">
              {%endif %} 
                  <label for="{{ field.name }}">
                    {{ field.label}}
                    {% if not field.field_required %}
                      <span class="text-muted small">{% trans "(Optional)" %}</span>
                    {% endif %}
                  </label>
                  {{ field|class:'form-control' }}
                  {% if field.errors %}
                    <span class="help-block">{{ field.errors }}</span>
                  {% else %}
                    {% if field.help_text %}
                      <p class="help-block">{{ field.help_text }}</p>
                    {% endif %}
                  {% endif %}
                </div>
            {% endif %}
          {% endfor %}

          {% csrf_token %}
          <button class="btn btn-primary" type="submit">{% trans 'Submit Ticket' %}</button>
        </form>
      </div>
    </div>    
  {% endif %}   

  {% if helpdesk_settings.HELPDESK_SHOW_KB_ON_HOMEPAGE %}
    <div class="tab-pane" id="knowledgebase">
      <br>
      <div id="kb_articles" class="panel panel-default">
        <div class="panel-heading">{% trans "Knowledgebase Categories" %}</div>     
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{% trans 'Category' %}</th>
              <th>{% trans 'Description' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for category in kb_categories %}
              <tr>
                <td><a href='{{ category.get_absolute_url }}'>{{ category.title }}</a></td>
                <td>{{ category.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}   
</div>

{% if not helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC and not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
  <h2>{% trans "Please use button at upper right to login first." %}</h2>
{% endif %}

<script>
  $(document).ready(function () {
    var h=window.location.hash;
    var t = "#public_tabs a[href=\"" + h + "\"]";
    $(t).tab('show');
  });
</script>

{% endblock %}
