{% load i18n %}
{% load url from future %}
{% load in_list %}


<form method='get' action='./'>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="well filterBox {% if query_params.sorting %} filterBoxShow{% endif %}" id='filterSort'>
      <label for='sort'>{% trans "Sorting" %}</label>
      <select class="form-control" id='sort' name='sort'>
        <option value='created'{% ifequal query_params.sorting "created"%} selected='selected'{% endifequal %}>
          {% trans "Created" %}
        </option>
        <option value='title'{% ifequal query_params.sorting "title"%} selected='selected'{% endifequal %}>
          {% trans "Title" %}
        </option>
        <option value='queue'{% ifequal query_params.sorting "queue"%} selected='selected'{% endifequal %}>
          {% trans "Queue" %}
        </option>
        <option value='status'{% ifequal query_params.sorting "status"%} selected='selected'{% endifequal %}>
          {% trans "Status" %}
        </option>
        <option value='priority'{% ifequal query_params.sorting "priority"%} selected='selected'{% endifequal %}>
          {% trans "Priority" %}
        </option>
        <option value='assigned_to'{% ifequal query_params.sorting "assigned_to"%} selected='selected'{% endifequal %}>
          {% trans "Owner" %}
        </option>
      </select>
      <label for='sortreverse'>{% trans "Reverse" %}</label>
      <input type='checkbox' name='sortreverse' id='sortreverse'{% if query_params.sortreverse %} checked='checked'{% endif %} />
      <p class='filterHelp'>{% trans "Ordering applied to tickets" %}</p>
      <button type="button" class="removeFilter btn btn-default"><i class="fa fa-minus"></i></button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class='well filterBox{% if query_params.filtering.assigned_to___in %} filterBoxShow{% endif %}' id='filterOwner'>
      <label for='owners'>{% trans "Owner(s)" %}</label>
      <select id='owners' name='assigned_to' multiple='selected' size='5'>
      {% for u in user_choices %}
        <option value='{{ u.id }}'{% if u.id|in_list:query_params.filtering.assigned_to___in %} selected='selected'{% endif %}>
          {{ u.username }}{% ifequal u user %} {% trans "(ME)" %}{% endifequal %}
        </option>
      {% endfor %}
    </select>
    <p class='filterHelp'>{% trans "Ctrl-Click to select multiple options" %}</p>
    <button type="button" class="removeFilter btn btn-default"><i class="fa fa-minus"></i></button>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class='well filterBox{% if query_params.filtering.queue___in %} filterBoxShow{% endif %}' id='filterQueue'>
      <label for='queues'>{% trans "Queue(s)" %}</label><select id='queues' name='queue' multiple='selected' size='5'>{% for q in queue_choices %}<option value='{{ q.id }}'{% if q.id|in_list:query_params.filtering.queue___in %} selected='selected'{% endif %}>{{ q.title }}</option>{% endfor %}</select>
      <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
    <button type="button" class="removeFilter btn btn-default"><i class="fa fa-minus"></i></button>

    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class='well filterBox{% if query_params.filtering.status__in %} filterBoxShow{% endif %}' id='filterStatus'>
  <label for='statuses'>{% trans "Status(es)" %}</label><select id='statuses' name='status' multiple='selected' size='5'>{% for s in status_choices %}<option value='{{ s.0 }}'{% if s.0|in_list:query_params.filtering.status__in %} selected='selected'{% endif %}>{{ s.1 }}</option>{% endfor %}</select>
  <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
    <button type="button" class="removeFilter btn btn-default"><i class="fa fa-minus"></i></button>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class='well filterBox{% if query_params.filtering.created__gte or query_params.filtering.created__lte %} filterBoxShow{% endif %}' id='filterDates'>
  <label for='date_from'>{% trans "Date (From)" %}</label><input type='text' name='date_from' value='{{ query_params.filtering.created__gte }}' id='date_from' />
  <label for='date_to'>{% trans "Date (To)" %}</label><input type='text' name='date_to' value='{{ query_params.filtering.created__lte }}' id='date_to' />
  <p class='filterHelp'>{% trans "Use YYYY-MM-DD date format, eg 2011-05-29" %}</p>
    <button type="button" class="removeFilter btn btn-default"><i class="fa fa-minus"></i></button>
  </div>
  </div>
<!--
{% if tags_enabled %}
<div class='filterBox{% if query_params.tags %} filterBoxShow{% endif %}' id='filterBoxTags'>
  <label for='tags'>{% trans "Tag(s)" %}</label><select id='tags' name='tags' multiple='selected' size='5'>{% for t in tag_choices %}<option value='{{t.name}}'{% if t.name|in_list:query_params.tags %} selected='selected'{% endif %}>{{ t.name }}</option>{% endfor %}</select>
  <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
  <input type='button' class='filterBuilderRemove' value='-' />
</div>
{% endif %}

<div class='filterBox{% if query %} filterBoxShow{% endif %}' id='filterBoxKeywords'>
  <label for='query'>{% trans "Keywords" %}</label><input type='text' name='q' value='{{ query }}' id='query' />
  <p class='filterHelp'>{% trans "Keywords are case-insensitive, and will be looked for in the title, body and submitter fields." %}</p>
  <input type='button' class='filterBuilderRemove' value='-' />
</div>
<hr style='clear: both;' />
<input type='submit' value='{% trans "Apply Filter" %}' />
{% if from_saved_query and saved_query.user = user %}
<p>{% blocktrans with saved_query.title as query_name %}You are currently viewing saved query <em>{{ query_name }}</em>.{% endblocktrans %} <a href='{% url 'helpdesk_delete_query' saved_query.id %}'>{% trans "Delete Saved Query" %}</a></p>
{% endif %}
{% if from_saved_query %}
<p>{% blocktrans with saved_query.id as query_id %}<a href='../reports/?saved_query={{ query_id }}'>Run a report</a> on this query to see stats and charts for the data listed below.{% endblocktrans %}</p>
{% endif %}
{% csrf_token %}
-->
</form>
